services:
  api-gateway:
    image: ghcr.io/wahajnintyeight/apigateway:latest
    container_name: ppv2-api-gateway
    env_file:
      - .env
    ports:
      - "8881:8881"
    command: ["./main", "--service-name", "api-gateway", "--port", "8881"]

  socket-service:
    image: ghcr.io/wahajnintyeight/socketservice:latest
    container_name: ppv2-socket-service
    env_file:
      - .env
    ports:
      - "8884:8884"
    command: ["./main", "--service-name", "socket-service", "--port", "8884"]

  sse-service:
    image: ghcr.io/wahajnintyeight/sse-service:latest
    container_name: ppv2-sse-service
    volumes:
      - /var/www/project-phoenix-v2/internal/service-configs/sse-service/utils/deno:/app/internal/service-configs/sse-service/utils/deno:ro
    env_file:
      - .env
    ports:
      - "8885:8885"
    command: ["./main", "--service-name", "sse-service", "--port", "8885"]

  api-gateway-grpc:
    image: ghcr.io/wahajnintyeight/apigateway-grpc:latest
    container_name: ppv2-api-gateway-grpc
    env_file:
      - .env
    ports:
      - "8886:8886"
    command: ["./main", "--service-name", "api-gateway-grpc", "--port", "8886"]